
@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';

body {
	margin: 100px;
	text-align: center;
	background-image: url('img/Pugs_3.jpg');
	background-size: 3700px;
    background-repeat: no-repeat;
	background-color: white;
	color: #CCE081;
	font-size: 20px;
	font-family: 'Baloo Tamma', cursive;
	line-height: 25px;
	margin-left: -150px;

}

p {
	color: black;
	font-family: 'Baloo Tamma', cursive;
	margin-top: 50px;
	font-size: 20px;
}

.button {
	margin-top: 50px;
	background-color: #EE3946;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
}